/* Hacemos que toda la pantalla use flex */
html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Toda la altura visible */
}

/* Header ocupa 15% */
header {
  flex: 0 0 15%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main ocupa el espacio restante */
main {
  flex: 1 0 auto;
  padding: 20px;
  background: #f5f5f5;
}

/* Footer ocupa 10% */
footer {
  flex: 0 0 10%;
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}