.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0rem 2%;  
}
.acciones {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0.75rem 0;
  border-bottom: 1px solid #e5e7eb;
   background: #fff; /* Asegura que el fondo sea blanco al pegar */

  .acciones h1{margin: .75rem;}
}

/* Contenedor que SÍ scrollea */
.table-wrap {
  overflow-y: auto;
  border: 1px solid #e5e7eb;
  border-radius: .5rem;
  padding: 0 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

th, td {
  padding: .6rem .8rem;
  border-bottom: 1px solid #f1f5f9;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0; /* se queda fija dentro de .table-wrap */
  background: #fff;
  z-index: 5;
  box-shadow: 0 1px 0 #e5e7eb; /* línea inferior al header */
  
}
.table-wrap {max-height: 100%;}
.row-link { cursor: pointer; }
.row-link:hover { background: #2980b9; color: #ffffff;}