<h1>Pedidos</h1>

  <!-- filtros -->

  <mat-card class="mb-6">

    <div class="flex gap-4">

      <mat-form-field appearance="outline" class="flex-1">

        <mat-label>Buscar pedido</mat-label>

        <input
          matInput
          [(ngModel)]="searchTerm"
          placeholder="Número de pedido">

        <mat-icon matSuffix>search</mat-icon>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Estado</mat-label>

        <mat-select [(ngModel)]="estadoFilter">

          <mat-option value="todos">Todos</mat-option>
          <mat-option value="pendiente">Pendiente</mat-option>
          <mat-option value="en_proceso">En proceso</mat-option>
          <mat-option value="completado">Completado</mat-option>
          <mat-option value="entregado">Entregado</mat-option>
          <mat-option value="cancelado">Cancelado</mat-option>

        </mat-select>

      </mat-form-field>

    </div>

  </mat-card>

@for (pedido of pedidos; track $index) {
<mat-card style="margin-bottom:16px" class="pedido-card">

  <mat-card-header>

    <mat-card-title>
      Pedido # {{pedido.id}}
    </mat-card-title>

    @if (pedido.estadoPedido === 'PENDIENTE') {
    <mat-chip>
      Pendiente
    </mat-chip>
    }

    @if (pedido.estadoPedido === 'EN_PROCESO') {
    <mat-chip>
      En proceso
    </mat-chip>
    }

    <span style="margin-left:auto;font-weight:bold">
      {{pedido.total | currency:'COP':'symbol-narrow':'1.0-0'}}
    </span>

  </mat-card-header>

  <mat-card-content>

    <p>
      <strong>Arreglo Floral:</strong>
      {{pedido.arregloFloral}}
    </p>
    <p>
      <strong>Cliente:</strong>
      {{pedido.cliente.nombre}} {{pedido.cliente.apellido}}
    </p>

    <p>
      <strong>Destinatario:</strong>
      {{pedido.destinatario.nombre}}
    </p>

    <p>
      <mat-icon>calendar_today</mat-icon>
      {{pedido.fechaEntrega | date: 'mediumDate'}}

      <mat-icon>schedule</mat-icon>
      {{pedido.fechaEntrega | date: 'hh:mm a'}}
    </p>

    <mat-divider></mat-divider>

    @if (pedido.observaciones) {
    <p>
      <strong>Notas:</strong>
      {{pedido.observaciones}}
    </p>
    }
  </mat-card-content>

</mat-card>
}